// Colors
    $limeGreen: hsl(157, 74, 62);
    $fadedLimeGreen: hsl(157,100,85);
    $medBluishGray: hsl(225, 21, 45);
    $darkBluishGray: hsl(225, 26, 23);
    $lightBluishGray: hsl(225, 40, 83);
    $veryDarkBlackBlue: hsl(224, 35, 11);
    $errorRed: hsl(0,96,61);
    // white